.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 6px 12px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: dashed;
  border-color: #333;
  color: #333;
  background: #ddd;
  &--success {
    color: green;
    background: lightgreen;
    border-color: green;
  }
  &--info {
    color: blue;
    background: lightskyblue;
    border-color: blue;
  }
  &--error {
    color: red;
    background: lightpink;
    border-color: red;
  }
  &--buttons {
    display: flex;
    flex-direction: row;
  }
}
.message__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &:hover {
    background: rgba(255,255,255, 0.2);
  }
}